@import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Exo 2", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 4rem;
  background-image: linear-gradient(
    to right,
    beige,
    rgba(245, 245, 220, 0.562)
  );
  background-clip: text;
  -webkit-background-clip: text; /* Webkit tarayıcıları için gerekli */
  color: transparent;
}

select {
  border-radius: 10px;
  transition: all 0.3s;
  border: none;
}

select:active,
select:focus {
  outline: none;
}

.app-container {
  width: 100%;
  height: 100dvh;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 2.3px 3.7px 2.3px -3px rgba(0, 0, 0, 0.031),
    5.9px 9.3px 5.8px -3px rgba(0, 0, 0, 0.044),
    12.1px 19px 11.9px -3px rgba(0, 0, 0, 0.056),
    24.8px 39.1px 24.5px -3px rgba(0, 0, 0, 0.069),
    68px 107px 67px -3px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(
    to right bottom,
    #a7c7e7,
    #86a5ca,
    #6884ad,
    #4b6490,
    #304674
  );
  background-size: cover;
  background-repeat: no-repeat;
}

.app__text {
  margin: 3rem 0;
}

.form-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.input-field {
  padding: 15px;
  width: 70%;
  border-radius: 10px;
  border: 1px solid rgb(253, 253, 253);
  margin-right: 2%;
  font-size: 20px;
  transition: 0.3s;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.27);
  opacity: 0.8;
}

.input-field:focus {
  outline: none;
  box-shadow: 5px 8px 14px rgba(0, 0, 0, 0.27);
  opacity: 1;
}

.weather-container {
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  width: 100%;
  display: flex;
  background-color: #87b2dd;
  box-shadow: 0px 6px 17px rgba(0, 0, 0, 0.27);
}

.weathers {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}

.headers {
  display: flex;
  height: 50%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #000000c7;
  font-weight: bold;
  padding-bottom: 6%;
  justify-content: center;
  font-size: 1.4rem;
}

.weather-data {
  display: flex;
  height: 50%;
  font-size: 20px;
  flex-direction: column;
  align-items: center;
  color: beige;
  font-weight: bold;
}

.day-container {
  align-self: start;
  margin-left: 5rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  letter-spacing: 3px;
  font-weight: bold;
  font-size: 18px;
  width: 15%;
  box-shadow: 15.3px 15.7px 10.3px -1px rgba(0, 0, 0, 0.13),
    98px 100px 138px -1px rgba(0, 0, 0, 0.26);
  padding: 2% 3%;
  border-radius: 10px;
  background-color: beige;
}

.date-container {
  display: flex;
  margin-bottom: 1%;
}

.clock-container {
  display: flex;
}

/* Responsive */

/* @media (min-width:1800px){
  .app-container {
    width: 90%;
    height: 75vh; 
  }
}

@media (max-width: 1200px){
  .app-container {
    width: 90%;
    height: 61vh;  
  }
}

@media (max-width:900px){
  .app-container {
    width: 90%;
    height: 50vh;
  }
}

@media (max-width:600px) { 
  .app-container {
    width: 90%;
    height: 40vh;  
  }
} */

/* Responsive */

.fiveDayContainer {
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  width: 100%;
  display: flex;
  background-color: #87b2dd;
  margin-top: 3rem;
}

.oneDayContainers {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  border-right: 1px solid grey;
  transition: all 0.3s;
}

.oneDayContainers:hover {
  background-color: #304674;
  color: beige;
  cursor: pointer;
}

.fiveDayDates {
}

.fiveDayTimes {
}

.fiveDayTemp {
}
